html {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    color: rgb(137, 6, 155);
    font-size: 1.5rem;
    text-align: center;
}
.clearfix {
    display: block;
    width: 100%;
    clear: both;
}   
.textarea {
    resize: none;
    outline: none;
    border-radius: 6px;
    position: absolute;
    max-width: 880px;
    max-height: 250px;
    width: 80vw;
    height: 25vw; 

    padding: 10px;
    font-size: 2rem;

    top: 10%;
    left: 49%;

    transform: translate(-50%);

    background: url(../assets/rocket_background.jpg) no-repeat,rgba(255, 255, 255, 0.3);
    background-size: 100% 100%;
    background-blend-mode: color;
   
}
.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50%;
  
    width: 100%;

    padding: 5px 0;
    background: #3f0041;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
    min-height: 100px;
}
.keyboard__keys {
    margin-top: 5vh;
    text-align: center;
}
.keyboard__key {
    position: relative;
    font-size: 1.05rem;
    height: 10vw;
    width: 5.56%;
    max-height: 60px;
    max-width: 60px;
    margin: 3px;

    border-radius: 4px;
    border: none;

    background: rgba(255, 255, 255, 0.2);
    color: wheat;

    outline: none;

    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;

    padding: 0;

    -webkit-tap-highlight-color: transparent;
}
.keyboard__key:hover{
    transition: ease-in 0.15s;
    background: rgba(255, 255, 255, 0.15);
}
/* .keyboard__key:active {
    background: rgba(255, 255, 255, 0.07);
} */
.active{
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.07);
}
.keyboard__key--wide {
    max-width: 126px;
    width: 11.2%;
}
.keyboard__key--super-wide {
    max-width: 325px;
    width: 25%;
}


.disable {
    display: none;
}
@media (max-width: 1000px) {
    .textarea {
        max-height: 500px;
        height: 40%;
    }
    .keyboard {
        height: 40%;
    }
    .keyboard__key {
        font-size: 1.5vw;
        width: 5vw;
    }
    .keyboard__key--wide {
        width: 10vw;
    }
    .keyboard__key--super-wide {
        width: 31.2vw;
    }
}